:root {
	--color-black: rgba(0, 0, 0, 1);
	--color-white: rgba(255, 255, 255, 1);
	--color1: rgba(24, 154, 229, 1);
	--color2: rgba(250, 219, 20, 1);
	--color3: rgba(24, 154, 229, 0.15);
	--color4: rgba(244, 247, 246, 1);
	--color5: rgba(30, 31, 40, 0.85);
	--color6: rgba(233, 79, 79, 1);
	--color7: rgba(121, 201, 95, 1);
	--color8: rgba(142, 142, 142, 1);
	--color9: rgba(198, 201, 206, 1);
	--color10: rgba(44, 62, 80, 1);
	--color11: rgba(30, 31, 40, 1);
	--color12: rgba(54, 54, 60, 1);
	--icon-white-ball: url(/assets/img/icons/image16.png);
	--icon-blue-ball: url(/assets/img/icons/image16Traced.png);
	--icon-arrow: url(/assets/img/icons/arrowtog.svg);
}
.uppercase {
    text-transform: uppercase;
}
.display-none {
	display: none;
}
button:focus{
	outline: none;
}
.active {
	background: none;
}

.input {
	padding: 12px 10px 12px 14px;
	border: 2px solid #189AE5;
	border-radius: 5px;
}

body,
html {
	height: 100%;
}
.active-button{
	color: #ffffff !important;
	background-color: #189ae3 !important;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

/* Яндекс карта */
#map {
	margin-top: -75px;
	max-width: 1920px;
	height: 517px;
	z-index: 0;
	bottom: 0;
}

[class*=copyrights-promo],
[class*=copyright__content] {
	display: none !important;
}

[class*=ground-pane] {
	filter: grayscale(100%);
}

/* Яндекс карта конец*/

.z0 {
	z-index: 0;
}

.z1 {
	z-index: 1;
}

.wh38 {
	width: 38px !important;
	height: 38px !important;
}

.blue-text {
	color: var(--color1) !important;
}

.blue-border {
	border: 1px solid var(--color1);
}

.bckgb {
	background: var(--color1);
}

.grey-text {
	color: var(--color8) !important;
}

.black-text {
	color: var(--color-black);
}

.bw {
	background: var(--color-white);
}

.bb {
	border-bottom: 1px solid var(--color9);
}

.btb {
	border-bottom: 1px solid var(--color9);
	border-top: 1px solid var(--color9);
}

.plr-0 {
	padding-left: 0;
	padding-right: 0;
}

.pl-0 {
	padding-left: 0;
}

.pr-0 {
	padding-right: 0;
}

.bgw {
	background: var(--color-white);
}

.mb-10 {
	margin-bottom: 0.625rem;
}

.mt-40 {
	margin-top: 2.5rem;
}

.mb-40 {
	margin-bottom: 2.5rem;
}

.mb-80 {
	margin-bottom: 5rem;
}

.mb-78 {
	margin-bottom: 4.875rem;
}

.mb-20 {
	margin-bottom: 1.25rem;
}

.mb-30 {
	margin-bottom: 1.9rem;
}

.mb-60 {
	margin-bottom: 3.5rem;
}

.mb-11 {
	margin-bottom: 0.7rem;
}

.mr-30 {
	margin-right: 1.9rem;
}

.mr-20 {
	margin-right: 1.25rem;
}

.ml-30 {
	margin-left: 1.9rem;
}

.p-30 {
	padding: 1.875rem
}

.pb-20 {
	padding-bottom: 1.25rem;
}

.pt-20 {
	padding-top: 1.25rem;
}

.pr-30 {
	padding-right: 1.875rem;
}

.pr-50 {
	padding-right: 3.125rem !important;
}

.pl-30 {
	padding-left: 1.9rem;
}

.pl-35 {
	padding-left: 2.188rem;
}

.pr-105 {
	padding-right: 6.563rem;
}

.pl-105 {
	padding-left: 6.563rem;
}

.fs-14 {
	font-size: 14px;
}

.fs-16 {
	font-size: 16px;
}

.fs-18 {
	font-size: 18px;
}

.fs-20 {
	font-size: 20px;
}

.fs-24 {
	font-size: 24px;
}

.bbg {
	background-color: var(--color1);
}

.ln {
	list-style: none;
}

.white-bg {
	background-color: var(--color-white) !important;
}

.blue-ball::after {
	background-image: var(--icon-blue-ball);
	content: '';
	position: absolute;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
	left: 0;
	top: 0;
}

.blue-ball-e::before {
	content: var(--icon-blue-ball);
	position: absolute;
	max-width: 25px;
	height: auto;
	right: 15px;
	top: 15px;
}

.white-ball::before {
	content: var(--icon-white-ball);
	position: absolute;
	max-width: 25px;
	height: auto;
	right: 15px;
	top: 15px;
}

.arrow {
	outline: none;
}

.arrow::before {
	content: var(--icon-arrow);
	position: absolute;
	max-width: 25px;
	height: auto;
	right: 15px;
	top: 15px;
	bottom: 15px;
	transform: rotate(0deg);
	transition: 0.5s;
}

.arrow-rt::before {
	transform: rotate(180deg);
	transition: 0.5s;
	bottom: 15px;
}

.counter_text {
	-webkit-text-stroke: 1px var(--color-black);
	color: transparent;
	text-shadow: -2px 2px var(--color-black);
}

.counter_text_white {
	-webkit-text-stroke: 0.5px var(--color-white);
	color: transparent;
	text-shadow: -2px 2px var(--color-white);
}

body {
	background-color: var(--color4);
	font-family: 'Open Sans';
}

.none {
	display: none !important;
}

p {
	color: var(--color12);
	font-size: 18px;
}

h1 {
	font-size: 71px;
}

h2 {
	font-size: 55px;
}

h3 {
	font-size: 40px;
}

/* * BUTTONS */
.button {
	border-radius: 500px;
	padding: 13px 30px;
	background-color: var(--color1);
	color: var(--color-white);
	border: none;
}

.button_link {
	text-decoration: none;
	color: var(--color-white);
}

.btn-transparent {
	border: 2px solid var(--color-black);
	color: var(--color-black);
	font-weight: 600;
	background-color: transparent;
}

.btn-transparent-blue {
	border: 2px solid var(--color1) !important;
	padding: 13px 30px !important;
	border-radius: 500px !important;
	color: var(--color1);
	font-weight: 600 !important;
	background-color: transparent;
}

.lock-at-map-button {
	padding: 13px 79.5px 13px 79.5px;
}

/* * BUTTONS */
/* HEADER */
.header {
	/* height: 80px; */
	/* width: 100%; */
	display: flex;
	/* justify-content: space-between; */
	align-items: center;
	background-color: #ffffff;
	box-shadow: #40404830 0px 0px 9px 0px;
}

.navbard {
	background: none !important;
}

/* HEADER */

/* аватарка  */
.header_account_image {
	display: flex;
	flex-direction: row;
	/* justify-content: center; */
	/* align-items    : center; */
	width: 38px;
	height: 38px;
	/* position       : relative; */
	overflow: hidden;
	border-radius: 100%;
}

.header_account_image img {
	width: 100%;
	height: 100%;
}

/* аватарка  */

.header_account_image_closed {
	display: flex;
	z-index: 1;
}

.header_account_image_opened {
	position: relative;
	z-index: 1;

}

.header_account_image_opened_row {
	display: flex;
	margin-bottom: 10px;
	margin-left: 10px;
}

.header_vertical_menu_wrapper {
	padding: 15px;
	/* background: #FFFFFF; */
	/* box-shadow: 0px 0px 25px rgb(0 0 0 / 5%); */
	position: absolute;
	top: 0;
	right: 0;
	width: auto;
	z-index: 1;
}

.link_my_cabbinet {
	display: flex;
	text-decoration: none;
}

.link_my_cabbinet:hover {
	text-decoration: none;
}

.header_account_image {
	display: flex;
}

p.ava_text {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #189AE5;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 800;
}

.nav_account_menu,
.acc_info {
	display: none;
}

.acc_info {
	padding-left: 10px;
}

.account_name_text {
	margin: 0;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	color: #36363C;
}

.account_mail_text {
	margin: 0;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 160%;
	color: #8E8E8E;
}

.nav_account_menu ul li {
	padding: 10px 10px 10px 0;
	display: flex;
	align-items: center;
	position: relative;
}

.nav_account_menu ul li a:hover {
	background: rgba(24, 154, 229, 0.05);
	border-radius: 20px;
	width: 100%;
}

.nav_account_menu a {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	color: #36363C;
	padding: 10px 15px 10px 10px;
	text-decoration: none;
}

.nav_account_menu ul li::before {
	content: '';
	width: 100%;
	position: absolute;
	border: 1px solid rgba(44, 62, 80, 0.1);
	top: 0;
	left: 0;

}

.top_header_account {
	padding: 0;
	width: 260px;
}

.header_button {
	border-radius: 20px;
	background: #189AE5;
	font-size: 16px;
	font-weight: 600;
	color: #ffffff;
	border: none;
	padding: 9px 30px 9px 30px;
	text-decoration: none;
}

/* Аватарка */



/*! Section start */


section {
	width: 100%;
	flex: 1 1 auto;
}

.education-section {
	padding: 40px 0 80px 0;
}

.about_us_title_section {
	padding: 40px 0 231px 0;
	background-image: url(/assets/img/fon/bcg2-1.png);
	background-size: 100%;
	background-position: bottom;
	background-repeat: no-repeat;
}

.coaching-staff-section {
	padding-bottom: 160px;
}

.trener_cabinet_section {
	padding: 80px 0;

}

.section_education_page {
	padding: 53px 0;
}

.section_title {
	background-size: 100% 100%;
	padding-top: 71px;
	padding-bottom: 18px;
}


.what_section {
	background-image: url(/assets/img/fon/what_fon.png);
	padding-bottom: 170px;
	padding-top: 254px;
	background-size: cover;
}

.lots_of_learning {
	background-image: url(/assets/img/fon/bcg.png);
	background-color: var(--color-white);
	background-size: 100% 100%;
	padding-top: 230px;
	padding-bottom: 229px;
}

.unique_system_section {
	background-image: url(/assets/img/fon/info_bg.png);
	background-size: 100% 100%;
	padding-top: 170px;
	padding-bottom: 231px;
}


.friendly_community_section {
	background-image: url(/assets/img/fon/fon_friends.png);
	background-size: 100% 100%;
	padding-top: 235px;
	padding-bottom: 192px;
}

.group_classes_for_children {
	background-size: 100% 100%;
	padding-top: 109px;
	padding-bottom: 170px;
}

.a_simple_start_to_learning {
	background-image: url(/assets/img/fon/Rectangle22.png);
	background-size: 100% 100%;
	padding-top: 169px;
	padding-bottom: 171px;
}

.how-to-find-us-section {
	background-size: 100% 100%;
	padding-top: 104px;
	position: relative;
}

.gallery_section {
	position: relative;
	padding-top: 40px;
	padding-bottom: 170px;

}

.fees_section {
	padding: 40px 0 170px 0;
}

.fees_single_section_top {
	padding-top: 40px;
}

.general_information_section {
	padding: 120px 0 60px 0;
}

.Where_will_it_take_place_section,
.treners_section {
	padding: 60px 0 60px 0;
}

.fees_footer_section {
	padding: 60px 0 120px 0;
}

.footer_content_section {
	padding: 50px 0;
	background: var(--color10);
}

.our-team-section {
	padding: 114px 0 240px 0;
	background-image: url(/assets/img/fon/Rectangle21new.png);
	padding-bottom: 240px;
	background-size: 100%;
}

.corts {
	padding: 40px 0 85px 0;
}

.corts-map {
	padding-top: 85px;
}

.account-cabinet {
	padding: 2.5rem 0 10.625rem 0;
}

/*!Section end */


.what_image_wrapper {
	max-width: 490px;
	padding: 0;
	margin-right: 134px;
}

.what_text {
	font-size: 18px;
	max-width: 590px;
}

.beforewhatimg {
	right: calc(-153px/2);
	top: 160px;
}

.text_title {
	margin-bottom: 27px;
}

.text_container_wrapper {
	margin-top: auto;
}

.p_text {
	margin-bottom: 35px;
}

.white-text {
	color: var(--color-white);
}
.white-text>p{
	color: var(--color-white);
}
.button_see_all {
	border-color: var(--color-white);
	padding: 13px 30px;
}

.text_lots_of_learning_wrapper {
	background: rgba(255, 255, 255, 0.05);
}
.card-c-w{
	border: none;
	border-radius: 0;
	padding: 0;
	width: 282px !important;
	height: 100%;
}
.card-c-w img{
	object-fit: cover;
	max-width: 282px;
	height: 309px;
	border-radius: 0;
}
.card-c,
.card-cc {
	border: none;
	border-radius: 0;
	padding: 0;
	width: 386px !important;
	height: 100%;
}
.card-cc img{
	object-fit: cover;
	max-width: 386px;
	height: 447px;
	border-radius: 0;
}
.card-c img {
	object-fit: cover;
	max-width: 386px;
	height: 182px;
	border-radius: 0;
}

.info_text_p {
	max-width: 564px;
}

.info-container-elipse-left {
	left: 0;
	top: 20px;
}

.info-container-elipse-right {
	right: 0;
	bottom: 20px;
}

.coach-img {
	max-width: 280px;
	max-height: 290px;
	background: linear-gradient(180deg, rgba(244, 247, 246, 0) 0%, rgba(23, 154, 228, 0.5) 71.35%, #179AE4 100%);
}

.coach-card {
	max-width: 280px;
	background-color: transparent;
}

.coach-card-body {
	background: var(--color-white);
}

.coach-card-text {
	color: var(--color8);
}

.coaching_staff_wrapper {
	background-color: var(--color-white);
}

.friendly_community_img {
	padding: 0;
	max-width: 586px;
}

.friendly_community_text {
	max-width: 593px;
}

.elips1 {
	top: 28px;
	left: 48px;
	max-width: 162px;
}

.elips2 {
	bottom: 24px;
	left: 0;
	width: 162px;
}

.elips3 {

	bottom: 90px;
	right: 168px;
	max-width: 224px;
}

.elips4 {
	top: 0;
	right: 46px;
	max-width: 162px;
}

.elips5 {
	bottom: 0;
	right: 0;
	max-width: 162px;
}

.group_img {
	max-width: 572px;
}

.group-bg {
	margin-bottom: 2px;
}

.group_classes_for_children_text {
	max-width: 660px;
}

.elips_for_center {
	top: 330px;
	left: 200px;
}

.step {
	border: 1px solid #36363C;
}

.step-number {
	font-family: "ABeeZee";
	font-weight: 400;
	font-size: 35px;
	max-width: 30px;
}

.fan_center_img {
	position: relative;
	z-index: 1;
	display: block;
	margin: auto;
}

.fan_left_img,
.fan_right_img {
	z-index: 0;
}

.fan_left_img {
	top: 17%;
	left: 3%;
}

.fan_right_img {
	top: 17%;
	right: 3%;
}

.about-text {
	max-width: 386px;
}

.how-to-find-us-text {
	max-width: 840px;
}

.cort-title-text {
	max-width: 900px;
}

.carousel-item-c {
	height: 288px;

}

.carousel-item-c img {
	height: 100%;
	object-fit: cover;
}

.corusel-button {
	width: 113px !important;
	height: 3px !important;
}

.carousel-img-wrapper img {
	max-height: 288px;
}

.a-text {
	max-width: 831px;
}

.cort-name-button {
	margin-right: 65px;
	padding: 10px 15px;
	width: 299px;
	border: 1.5px solid var(--color1);
	border-radius: 500px;
}

.education-status p {
	display: inline-block;
	padding: 2px 12px 3px;
	background: rgba(24, 154, 229, 0.15);
	border-radius: 500px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 150%;
	color: #36363C;
}

.nav-link.active {
	background-color: var(--color1) !important;
}

.alo {
	background-color: red;
	width: 100%;
	height: 500px;
}

.logo-intext {
	max-width: 290px;
}

/* Popup start */
.popup_background {
	width: 100%;
	height: 100%;
	position: fixed;
	background: #000000e6;
	top: 77px;
	left: 0;
	z-index: 1;
	display: none;
	justify-content: center;
	align-items: center;
}

.popup_registration {
	padding: 50px 110px;
	margin: auto;
	width: 650px;
	/* height : 905px; */
	background: #F4F7F6;
}

.registration_title {
	font-family: 'Nasalization';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 130%;
	text-align: center;
	color: #36363C;
	margin-bottom: 30px;
}

.row_form {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.row_form input {
	width: 205px;
}

.input_form {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 12px 10px 12px 14px;
	gap: 10px;
	width: 430px;
	height: 50px;
	border: 1px solid #8E8E8E;
	border-radius: 5px;
	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
}

.popup_form {
	display: flex;
	flex-direction: column;
}

.popup_form label {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 160%;
	align-items: center;
	color: #8E8E8E;
	margin-bottom: 20px;
}

.popup_form label:last-child {
	margin-bottom: 0;
}

.rules_and_privacy_policy_text {
	text-align: center;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 160%;
	text-align: center;
	color: #36363C;
	margin-top: 20px;
	margin-bottom: 20px;
}

.form_button_next {
	margin-top: 30px;
	border: none;
	padding: 13px 30px;
	gap: 15px;
	width: 430px;
	height: 50px;
	background: #189AE5;
	border-radius: 500px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
	color: #FFFFFF;
}

.form_button_next:active {
	overflow: none;
}

.link_black {
	color: black;
	text-decoration: none;
}

.singin_text {
	display: flex;
	justify-content: center;
}

.singin_text p {
	margin-right: 10px;
}

.step_wrapper {
	justify-content: space-between;
	display: flex;
	align-items: center;
	position: relative;
}

.line_after:after {
	top: 16px;
	content: '';
	position: absolute;
	border: 2px solid rgba(24, 154, 229, 0.1);
	width: 160px;
}

.text_code_to_mail,
.text_bold_center {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 160%;
	color: #36363C;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 20px;
}

.popup_registration_wrapper {
	position: relative;
	;
}

.button_close,
.button_close_form_course {
	background-position: center center;
	background-image: url(/assets/img/icons/closex.png);
	cursor: pointer;
	width: 45px;
	height: 45px;
	position: absolute;
	right: -22px;
	top: -22px;
	background-color: #FFFFFF;
	box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
	border-radius: 500px;
	background-repeat: no-repeat;
}

.popup_wrapper_img {
	overflow-y: auto;
	padding-top: 126px;
	position: fixed;
	background: #000000d1;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 2;
	padding-bottom: 100px;
}

.close_album_btn_wrapper {
	display: flex;
	justify-content: right;
	margin-bottom: 60px;
}

.big_album_image_fone {
	background: #000000eb;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.big_album_image {
	margin: 0 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 43%;
	height: 50%;
}

.big_album_image img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

#close_img_btn {
	justify-content: center;
	display: flex;
	width: 45px;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
	border-radius: 500px;
	position: absolute;
	top: 165px;
	right: 555px;
	height: 45px;
	align-items: center;
}

#close_img_btn img {
	width: 24px;
	height: 24px;
}

.button_prev_wrapper,
.button_next_wrapper {
	cursor: pointer;
	display: flex;
	width: 35px;
	height: 35px;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
	border-radius: 500px;
	justify-content: center;
	align-items: center;
}

/* Popup end */

.ac-nav-menu {
	padding: 10px 30px 10px 15px;
}

.blue-border {
	border: 1px solid var(--color1);
}

.circle {
	border-radius: 500px;
}

.cab-img {
	overflow: hidden;
	width: 159px;
	height: 159px;
}

/* Input style */
.row_form input {
	width: 205px;
}

.input_form {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 12px 10px 12px 14px;
	gap: 10px;
	width: 430px;
	height: 50px;
	border: 1px solid #8E8E8E;
	border-radius: 5px;
	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
}

.select_input-hiden {
	display: none;
}

.input_wrapper {
	display: flex;
	flex-direction: column;
}

.inputs_wrapper {
	display: flex;
	margin-bottom: 20px;
}

.setings_input,
.setings_input_children {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 12px 10px 12px 14px;
	gap: 10px;
	width: 463px;
	height: 50px;
	border: 1px solid #8E8E8E;
	border-radius: 5px;
}

.input_wrapper:first-child {
	margin-right: 20px;
}

.input_image_user {
	display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
	opacity: 0;
}

.inputs_wrapper_child {
	display: flex;
}

.setings_input_children {
	margin: 0;
}

input[type="button"]:active {
	outline: none;
}

.input_not_enter {
	border: 1px solid #E94F4F;
}

.input_not_enter_text {
	color: #E94F4F;
}

/* Input style end */

.add_button_wrapper {
	width: 45px;
	height: 45px;
	background: #FFFFFF;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
	border-radius: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popub-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999999;
	background-color: #000000a6;
	overflow: auto;
}

.popup-form {
	position: absolute;
	top: 150%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 650px;
	transition: 0.5s;
	display: none;
}

.form-container {
	padding: 50px 110px;
}

.sinput,
.firstname,
.lastname {
	max-width: 205px;
}


.active-step {
	display: flex;
	/* visibility: visible;
	opacity: 1;
	transition: 0.5s;
	top: 50%;
	display: flex; */
}

.input-e {
	border: 1px solid var(--color6);
}

.title-acc {
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	padding: 10px 15px;
	width: 965px;
}

.text-o {
	overflow-wrap: anywhere;
}

.edu-cart-container {
	min-height: 354px;
}
.button-carusel{
	display: flex;
	position: absolute;
	left: 0;
	overflow: hidden;
	transition: 1s;
}
.free-text{
	min-height: 100%;
}
button.auth-link{
	border: none;
    background: none;
    color: #0d6efd;
    text-decoration: underline;
}

.button_g{
	
	width: 30%;
    border-radius: 20px;
    background: #189AE5;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    border: none;
    padding: 9px 30px 9px 30px;
    text-decoration: none;
	text-align: center;
}




/* Mobile */
@media (max-width: 770px) {
	.fs-18 {
		font-size: 14px;
	}

	.fs-14 {
		font-size: 10px;
	}

	.fs-16 {
		font-size: 10px;
	}

	.coaching_staff_text p {
		font-size: 14px;
	}

	h1,
	h2,
	h3,
	h4 {
		font-size: 48px;
	}

	h1 span {
		font-size: 60px;
	}

	.beforewhatimg {
		display: none;
	}

	.p_text {
		width: auto;
		padding: 0;
		font-size: 14px;
	}
	.how-to-find-us-section{
		background-size: 100% 38%;
		padding-top: 40px;
	}
	.lots_of_learning,
	.our-team-section,
	.friendly_community_section,
	.about_us_title_section {
		
		background-size: 100% 38%;
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.a_simple_start_to_learning {
		background-color: var(--color-white);
	}

	.what_section,
	.unique_system_section,
	.coaching-staff-section,
	.group_classes_for_children,
	.a_simple_start_to_learning {
		padding-bottom: 40px;
		padding-top: 40px;
	}

	.coach-img {
		max-width: 180px;
		max-height: 190px;
	}

	.coach-card {
		max-width: 180px;
	}

	.info-container-elipse-left,
	.info-container-elipse-right {
		width: 100px;
	}

	.pl-105 {
		padding-left: 4rem;
	}

	.pr-105 {
		padding-right: 4rem;
	}

	.info-text-p {
		font-size: 14px;
	}

	.text_lots_of_learning {
		width: auto;
		height: auto;
		font-size: 14px;
	}

	.what_image_wrapper {
		max-width: auto;
		margin-right: 0;
	}

	.card-c {
		
	}

	.elips_for_center {
		top: 200px;
		left: 105px;
		width: 120px;
	}

	.group_img {
		max-width: 350px;
	}

	.blue-ball::after {
		width: 20px;
		height: 20px;
		background-size: 20px;
	}

	.mb-30 {
		margin-bottom: 5px;
	}

	.mb-60 {
		margin-bottom: 30px;
	}

	.step-number {
		font-size: 20px;
	}

	.me-2 {
		margin: 0;
	}

	.p-30 {
		padding: 0.875rem;
	}

	.mb-20 {
		margin-bottom: 0.25rem;
	}
	.mb-40 {
		margin-bottom: 1.5rem;
	}

	.sinput,
	.firstname,
	.lastname {
		max-width: 140px;
	}
	.elips1 {
		top: 28px;
		left: 10px;
		max-width: 102px;
	}
	.elips2 {
		bottom: 24px;
		left: 0;
		width: 102px;
	}
	.elips3 {
		top: 90px;
		left: 115px;
		max-width: 164px;
	}
	.elips4 {
		top: 0;
		right: 46px;
		max-width: 102px;
	}
	.elips5 {
		bottom: 0;
		right: 0;
		max-width: 102px;
	}
	.friendly_community_img {
		height: 290px;
	}
	.dropdown-container {
		padding: 20px 20px 0px 20px;
		position: absolute;
		left: 0;
	}
	.ms-20p{
		margin-left:20%;
	}
	.reg-form {
		font-size: 12px;
		font-weight: 600;
		padding: 10px 20px 10px 20px;
	}
	.nav-tab-btn {
		padding: 6px 15px !important;
	}
	.logo-intext {
		max-width: 150px;
	}
	.frame {
		width: 100%;
		height: auto;
	}
	.education_container{
		height: auto;
	}
	.no_photo_text {
		font-size: 25px;
	}
	.wrapper_title_img {
		position: absolute;
		right: -46px;
		top: 0;
		width: 200px;
	}
	.button {
		font-size: 14px;
		padding: 8px 15px;
	}
	.white-ball::before {
		right: 15px;
		top: 8px;
	}
	.btn-transparent{
		height: auto;
	}
	.card-title {
		font-size: 14px;
	}
	.fan_left_img,.fan_right_img {
		width: 35%;
	}
	.fan_center_img{
		width: 45%;
	}
	.our-team-section {
	background-color: var(--color-white);
	}
	.mb-80{
		margin-bottom: 40px;
	}
}